.container {
    display: flex;
    padding: 10px;
}

aside {
    width: 25%;
    margin-right: 20px;
}

#cityInput {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
}

#submit-button {
    background-color: #7f38db;
    color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

#searchHistory button {
    width: 100%;
    background-color: lightgrey;
    padding: 10px;
    margin-bottom: 5px;
}

#weatherInfo {
    width: 75%;
    margin: 10px;
}

#current-weather {
    border: 2px solid black
}

.forecast-day {
    background-color: #5620d4;
    color: white;
    width: 15%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}

.header {
    background: #6e20d4;
    font-family: sans-serif;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
