.container {
    display: flex;
}

aside {
    width: 25%;
}

#weatherInfo {
    width: 75%;
}

#current-weather {
    border: 2px solid black
}

.forecast-day {
    background-color: #5620d4;
    color: white;
    width: 15%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.header {
    background: #6e20d4;
    font-family: sans-serif;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
